<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-color-mode="dark" data-dark-theme="dark_dimmed">
<!-- th:replaceを使用して、 <head>用のフラグメントを読込みます -->
<head th:replace="common/head :: head_fragment(title = 'index', scripts = ~{::script}, links = ~{::link})">
</head>
<body>
    <!-- th:replaceを使用して、 ヘッダー用のフラグメントを読込みます -->
    <div th:replace="common/header :: header_fragment"></div>
    <div class="container">
    <p style="text-align: center;">Maximum sessions of 1 for this principal exceeded</p>
    </div>
</body>
</html>