<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-color-mode="dark" data-dark-theme="dark_dimmed">
  <!-- th:replaceを使用して、 <head>用のフラグメントを読込みます -->
  <head th:replace="common/head :: head_fragment(title = 'index', scripts = ~{::script}, links = ~{::link})">
  </head>
<body>
  <!-- th:replaceを使用して、 ヘッダー用のフラグメントを読込みます -->
  <div th:replace="common/header :: header_fragment"></div>
  <div class="container-lg">
    <div class="col-6 p-2 mx-auto">
      <p class="h1 text-center">Signup Page</p>
      <div th:if="${validationError}" th:each="error : ${validationError}">
        <div class="Toast Toast--warning">
          <span class="Toast-icon">
            <svg width="16" height="16" viewBox="0 0 16 16" class="octicon octicon-alert" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 0 0 0 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 0 0 .01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"
              />
            </svg>
          </span>
          <span class="Toast-content" th:text="${error}"></span>
        </div>
      </div>
      <form th:action="@{/signup}" method="post" th:object="${signupFormsignupForm}">
        <input type="text" id="name" name="name" class="form-control input-block m-2" placeholder="name" required autofocus>
        <input type="text" id="email" name="email" class="form-control input-block m-2" placeholder="email" required autofocus>
        <input type="password" id="password" name="password" class="form-control input-block m-2" placeholder="password" required>
        <button class="btn btn-primary btn-block m-2" type="submit">Signup</button>
      </form>
      <a href="/signin" th:href="@{/signin}" class="link-mktg arrow-target-mktg link-emphasis-mktg text-semibold f3-mktg">
        Go to Signin
        <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path fill="currentColor" d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"></path>
          <path stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path>
        </svg>
      </a>
    </div>
  </div>
</body>
</html>